body{
	background-color: white;
}
.container{
	background: cadetblue;
    color: black;
	width: auto;
	min-height: 80vh;

	padding:0px 0px 20px;
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	margin: 2px;

}
.tenant_form{
	display: none;
}

