body{
    background-color: cadetblue;
    background-size: cover;
  }
  
.container{
      background: #2d3e3f;
      color:white;
      font-size: 35px;
      text-align: center;
      width: 40%;
      height: 70%;
      padding-bottom: 20px;
      position: absolute;
      top: 30px;
      left: 5%;
      right: 5%;
      margin: auto;
      padding: 70px 50px 20px 50px; 
      overflow: hidden;    
}
.category{
  width: 100%;
  height: 15%;
}
.active{
  color: aqua;
}
.list{
  height: inherit;
  text-align: left;
}
.general{

}

