.card{
    margin:5px;
    font-size: 15px;
    background-color: #1c9100;
    color: black;
    width:250px
}
div.list.show input{
    background:#007373;
    color:white
  }
.due .card{
    background-color:rgb(70 187 191);
}  
.overdue .card{
    background-color:#8e2e21;
}  
div.list.show{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}